<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.tz.travel" />
    <context:annotation-config/>
    <!--<bean id="entityManager" class="javax.persistence.EntityManager" abstract="true" factory-bean="emf">-->
    <!--</bean>-->
    <!--<bean id="emf" class="javax.persistence.EntityManagerFactory" abstract="true" factory-bean="persistence" factory-method="createEntityManager">-->
    <!--</bean>-->
    <!--<bean id="persistence" class="javax.persistence.Persistence" factory-method="createEntityManagerFactory">-->
        <!--<constructor-arg value="persistence"/>-->
    <!--</bean>-->



</beans>
